# 할당과 복사

In [2]:
my_list1=[1,2,3]

my_list1은 1,2,3원소를 가진 리스트를 참조하고 있다.

In [3]:
my_list2=my_list1

my_list2에는 my_list1이 가지고 있던 리스트를 똑같이 참조한다. // 하나의 물체에다가 두 개의 이름을 붙인 것과 같음

In [4]:
print(my_list1)
print(my_list2)

[1, 2, 3]
[1, 2, 3]

my_list1 과 my_list2는 같은 리스트이기 때문에 한쪽이 변경되면 다른쪽도 변경되는 것 처럼 보인다.

In [5]:
my_list2.append(4)

In [6]:
print(my_list2)
print(my_list1)

[1, 2, 3, 4]
[1, 2, 3, 4]

## 복사

* copy
* slice
* list

In [7]:
my_list_original=[10,20,30]

In [10]:
# 1. copy() 함수 사용해서 리스트복사하기
my_list_copy=my_list_original.copy()
my_list_copy.append(4)

print(my_list_original)
print(my_list_copy)

[10, 20, 30]
[10, 20, 30, 4]

In [11]:
# 2. slice 기법
my_list_slice = my_list_original[:]
my_list_slice.append(40)

print(my_list_original)
print(my_list_slice)

[10, 20, 30]
[10, 20, 30, 40]

# 딕셔너리
딕셔너리를 다루는 방법과 데이터 분석을 하기 위해 사용하는 pandas의 사용법이 매우 유사

In [20]:
my_dict={"name":"소민호","age": 33}
print(my_dict)

{'name': '소민호', 'age': 33}

In [15]:
print(my_dict['name'])

소민호

In [19]:
print(my_dict['age'])

33

In [23]:
my_dict['email'] = 'mhso.dev@gmail.com'
print(my_dict)

{'name': '소민호', 'age': 33, 'email': 'mhso.dev@gmail.com'}

In [24]:
my_dict['age']=34
print(my_dict)

{'name': '소민호', 'age': 34, 'email': 'mhso.dev@gmail.com'}

### 딕셔너리의 결합

In [27]:
dict_a={'a':1,'b':2}
dict_b={'c':3,'d':4}

dict_a.update(dict_b)

print(dict_a)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [28]:
dict_a={'a':1,'b':2}
dict_b={'b':3,'d':4}

dict_a.update(dict_b)

print(dict_a)

{'a': 1, 'b': 3, 'd': 4}

In [29]:
my_dict={'a':10,'b':20}

In [30]:
'a' in my_dict # 'a'라는 키값이 my_dict 안에 있다.

True

In [31]:
'c' in my_dict

False

In [32]:
my_dict['c']

KeyError: 'c'

In [41]:
my_dict.keys()

dict_keys([])

In [42]:
my_dict.values()

dict_values([])

In [43]:
my_dict.items()

dict_items([])

('a',10),('b',20) = tuple튜플 // tuple 2개

In [44]:
#딕셔너리 삭제

del my_dict['a']
my_dict

KeyError: 'a'

In [39]:
#딕셔너리 전체삭제
my_dict.clear()

In [40]:
my_dict

{}

# Set(집합)
* 중복된 자료의 저장 불가 ( 데이터의 unique 유지)
* 데이터 저장의 순서가 없다. ( hash 알고리즘)

In [46]:
set1={1,2,3,3,4,5,6,3,4,5,4,4,4,1,2,2}
print(set1)

{1, 2, 3, 4, 5, 6}

In [47]:
my_list=[1,2,5,6,7,8,4,2,1,8]
set2=set(my_list)
print(set2)

{1, 2, 4, 5, 6, 7, 8}

In [48]:
my_str='letter'
set3=set(my_str)
print(set3)

{'e', 't', 'r', 'l'}

In [49]:
list(set3)

['e', 't', 'r', 'l']

데이터 분석을 하기 위한 자료구조

* 통계적,수학적 분석 (보통 pandas) - 2차원배열 사용 (가로-행,세로-열)
* 머신러닝/ 딥러닝 분석 (tensor 개념)

In [50]:
list_2dim=[[10,20,30],
           [40,50,60]]
print(list_2dim)

[[10, 20, 30], [40, 50, 60]]

In [51]:
list_2dim[1]

[40, 50, 60]

In [52]:
list_2dim[1][1]

50

# Pandas 사용하기

* 설치: pip install pandas


pandas = pd, 

numpy = np

In [8]:
import pandas as pd
import numpy as np

In [9]:
s = pd.Series([1,2,3, np.nan,6,7])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    7.0
dtype: float64

In [13]:
dates=pd.date_range('20200828',periods=10)
dates

DatetimeIndex(['2020-08-28', '2020-08-29', '2020-08-30', '2020-08-31',
               '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06'],
              dtype='datetime64[ns]', freq='D')

순서가 있는 연속적인 데이터 '시퀀셜 데이터' // 시간의 흐름에 따라 데이터 변화 "시계열 데이터"

In [15]:
df=pd.DataFrame(np.random.rand(5,4),
                index=[1,2,3,4,5],
                columns=['A','B','C','D'])

df

          A         B         C         D
1  0.243226  0.273474  0.032102  0.578529
2  0.003707  0.249839  0.435719  0.523744
3  0.579050  0.346917  0.785232  0.071339
4  0.198770  0.237992  0.518553  0.403416
5  0.215349  0.129622  0.233899  0.454634

np.random.rand(5,4)랜덤하게 5행4열 // index는 각 행에 대표할 수 있는 값, 각 행을 대표할 수 있는 값 ex) 각 구의 cctv데이터를 모을 때, 각 구의 이름 // columns의 이름을 넣어주는 것

In [16]:
df['A']

1    0.243226
2    0.003707
3    0.579050
4    0.198770
5    0.215349
Name: A, dtype: float64

## 열선택

In [17]:
df[['A','C']]

          A         C
1  0.243226  0.032102
2  0.003707  0.435719
3  0.579050  0.785232
4  0.198770  0.518553
5  0.215349  0.233899

각 열을 뽑아서 보고싶은 경우

In [18]:
column_names=['A','D']
df[column_names]

          A         D
1  0.243226  0.578529
2  0.003707  0.523744
3  0.579050  0.071339
4  0.198770  0.403416
5  0.215349  0.454634

## 행선택

* loc [행(row) 선택, 열(column) 선택]

In [19]:
df.loc[3]

A    0.579050
B    0.346917
C    0.785232
D    0.071339
Name: 3, dtype: float64

In [21]:
df.loc[:,['A','C']]

          A         C
1  0.243226  0.032102
2  0.003707  0.435719
3  0.579050  0.785232
4  0.198770  0.518553
5  0.215349  0.233899

In [22]:
df.loc[1:3, ['B','D']]

          B         D
1  0.273474  0.578529
2  0.249839  0.523744
3  0.346917  0.071339

In [23]:
df['A']>0.5

1    False
2    False
3     True
4    False
5    False
Name: A, dtype: bool

In [24]:
df[df['A']>0.3]

         A         B         C         D
3  0.57905  0.346917  0.785232  0.071339

In [25]:
df[df>0.3]

         A         B         C         D
1      NaN       NaN       NaN  0.578529
2      NaN       NaN  0.435719  0.523744
3  0.57905  0.346917  0.785232       NaN
4      NaN       NaN  0.518553  0.403416
5      NaN       NaN       NaN  0.454634

B컬럼의 값이 0.3 보다 큰 상태에서 A,D만 뽑아주세요

In [28]:
df.loc[df['B']>0.3, ['A','D']]

         A         D
3  0.57905  0.071339